
#navBar {
	display: flex;
	justify-content: flex-end;
	flex-flow: row wrap;
}

li, a {
	list-style: none;
	text-decoration: none;
}

li {
	margin-left: 1.5em;
}

li:last-child {
	margin-right: .5em;
}

a:hover {
	color: #FFF;
}

