
#navBar {
	display: flex;
	justify-content: flex-end;
	flex-flow: row wrap;
}

li, a {
	list-style: none;
	text-decoration: none;
}

a:last-child {
	margin-right: 2em;
}

a {
	margin: 0 10px;
	padding: 10px 10px;
	background-color: red;
	color: gold;
}

a:hover {
	background-color: blue;
	color: #FFF;
}

a:active {
	padding: 10px 15px;
}